.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
    position: relative;
  }

  &__link {
    display: inline;
    padding: 2px 15px;
    text-decoration: none;
    color: #45494f;
    font-weight: 400;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border 0.3s, color 0.3s;

    &:hover {
      border: 2px solid $menu-link-hover-border-color;
      border-radius: 8px;
      color: $hover-link-color;
    }
  }

  &__drop {
    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border: 2px solid $arrow-dropdown-inactive-color;
      border-top: none;
      border-right: none;
      margin-left: 3px;
      vertical-align: 0.15em;
      transform: rotate(-45deg);
      transition: border-color 0.3s;
    }

    &:hover::after {
      border-color: $hover-link-color;
    }
  }
}
