.standarts {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 4fr;

  &__img {
    background-image: url(/images/crane.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__block {
    background: linear-gradient(180deg, #163da2 0%, #003584 100%);
    padding: 150px 20px;
  }

  &__title {
    text-align: center;
    @include title-text-param;
    color: $text-color-standarts-sections;
  }

  &__text {
    margin: 0 auto;
    max-width: 460px;
    @include text-standart-param;
    color: $text-color-standarts-sections;
  }

  @media screen and (min-width: 320px) and (max-width: 632px) {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
}
