@font-face {
  font-family: "BBCReithSans_Md";
  src: url("../fonts/BBCReithSans_Md.eot");
  src: url("../fonts/BBCReithSans_Md.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BBCReithSans_Md.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BBCReithSans_ExBd";
  src: url("../fonts/BBCReithSans_ExBd.eot");
  src: url("../fonts/BBCReithSans_ExBd.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BBCReithSans_ExBd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
