@mixin title-text-param {
  font-family: BBC Reith Sans, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2.42px;
  text-transform: uppercase;
  margin-bottom: 22px;
  color: #1652ac;
}

@mixin text-standart-param {
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  margin-bottom: 40px;
}

@mixin section-title {
  font-family: BBC Reith Sans, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 4.42px;
  color: #020303;
  text-align: center;
  text-transform: uppercase;
}

@mixin img-size {
  max-width: 500px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
}

@mixin logo-hover {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}
