$hover-link-color: #2e75ff;
$arrow-dropdown-inactive-color: #45494f;
$menu-link-hover-border-color: #eaedf5;
$h1-title-color: #1652ac;
$h1-pseudoelement-color: #edeff3;
$title-font-family: "BBCReithSans_Md";
$text-color-standarts-sections:#fbfdff;
$footer-text-color: #a3adba;
